@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@media (max-width: 768px) {
    .tudo {
        font-size: 0.8rem;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0.9rem;
    width: calc(100% / 0.9);
    display: block;
    transform: scale(0.9);
    transform-origin: top left;
    zoom: 10vh;
    text-align: center;
}

html {
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}



.tudo {
    margin: 0;
    margin-top: -1vh;
    font-size: 4rem;
    width: 100%;
    position: relative;
    background-color: #e4cdc7;
    overflow: hidden;
    text-align: left;
    color: #fff;
    font-family: Poppins;
    height: auto;
}

.fundo2 {
    margin-top: 40vh;
    background-color: #e4cdc7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.faq-grid {
    margin-left: 2.125rem;
    margin-right: 2.125rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    margin-top: -313.39vh;
    padding: 0;
}

.faq-grid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    margin-top: 30vh;
    padding-left: 0rem;
    perspective: 93.75em;
}

.pergunta-resposta {
    text-align: left;
    flex: 1 1 calc(30% - 20px);
    /* Cada caixa ocupa 30% da largura, com espaço para o gap */
    max-width: 41.199vw;
    /* Define um limite máximo para o tamanho */
    margin-bottom: 0.625em;
    position: relative;
    color: #FFF;
    transform-style: preserve-3d;
}

.pergunta-resposta2 {
    flex: 0 0 calc(45% - 10px);
    margin-bottom: 0.625em;
    perspective: 62.5em; /* Define a perspectiva para cada caixa */
    position: relative;
    color: #FFF;
    transform-style: preserve-3d;
}

.pergunta-resposta:hover .card {
    transform: rotateY(180deg);
}

.pergunta-resposta:hover .card-back {
    display: flex;
}

.pergunta-resposta2:hover .card {
    transform: rotateY(180deg);
}

.pergunta-resposta2:hover .card-back {
    display: flex;
}

.card {
    text-align: left;
    width: 31.25rem;
    height: 42.73vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: center;
    margin: 0 auto;
}

.card-front,
.card-back {
    text-align: left;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: flex-start;
    justify-content: center;
    padding: 4.27vh;
    box-sizing: border-box;
    color: white;
    border-radius: 50px;
}

.card-front {
    text-align: left;
    font-family: Poppins;
    font-size: 4.063rem;
    font-weight: 700;
    background-color: #198168;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.card-back {
    text-align: left;
    font-family: Poppins;
    font-size: 39.75rem;
    font-weight: 500;
    background-color: #006182;
    transform: rotateY(180deg);
}

.card-1 .card-front {
    font-size: 3.625rem;
    line-height: normal;
    background-color: #198168;
}

.card-1 .card-back {
    background-color: #063F32;
    font-size: 1.813rem;
    padding-top: 5.34vh;
}

.card-2 .card-front {
    font-size: 3.438rem;
    line-height: normal;
    background-color: #F6794A;
}

.card-2 .card-back {
    background-color: #BF5C37;
    font-size: 2rem;
    padding-top: 11.39vh;
}

.card-3 .card-front {
    background-color: #006182;
    font-size: 3.625rem;
    line-height: normal;
}

.card-3 .card-back {
    background-color: #003B4F;
    font-size: 2rem;
    padding-top: 4.13vh;
}

.card-4 .card-front {
    background-color: #198168;
    font-size: 3.063rem;
    line-height: normal;
}

.card-4 .card-back {
    background-color: #063F32;
    font-size: 2.5rem;
    padding-top: 8.19vh;
}

.card-5 .card-front {
    background-color: #F6794A;
    font-size: 3.75rem;
    padding-top: 3.13vh;
}

.card-5 .card-back {
    background-color: #BF5C37;
    font-size: 1.875rem;
    padding-top: 5.69vh;
}

.card-6 .card-front {
    background-color: #006182;
    font-size: 4.063rem;
    padding-top: 3.70vh;
}

.card-6 .card-back {
    background-color: #003B4F;
    font-size: 1.875rem;
    padding-top: 8.26vh;

}

.card-7 .card-front {
    background-color: #198168;
    font-size: 3.125rem;
    line-height: normal;
    padding-top: 4.98vh;
}

.card-7 .card-back {
    background-color: #063F32;
    font-size: 1.938rem;
    padding-top: 10.68vh;
}

.card-8 .card-front {
    background-color: #F6794A;
    font-size: 3.125rem;
    line-height: normal;
    padding-top: 4.98vh;
}

.card-8 .card-back {
    background-color: #BF5C37;
    font-size: 2.375rem;
    padding-top: 12.82vh;
}

.card-9 .card-front {
    background-color: #006182;
    font-size: 3.125rem;
    line-height: normal;
    padding-top: 4.98vh;
}

.card-9 .card-back {
    background-color: #003B4F;
    font-size: 2.156rem;
    padding-top: 6.76vh;
}

.card-10 .card-front {
    background-color: #198168;
    font-size: 3.125rem;
    line-height: normal;
}

.card-10 .card-back {
    background-color: #063F32;
    font-size: 1.75rem;
    padding-top: 3.56vh;
}

.card-11 .card-front {
    background-color: #006182;
    font-size: 3.125rem;
    line-height: normal;
}

.card-11 .card-back {
    background-color: #003B4F;
    font-size: 1.688rem;
    padding-top: 4.98vh;
}

.card-12 .card-front {
    background-color: #F6794A;
    font-size: 3.125rem;
    line-height: normal;
}

.card-12 .card-back {
    background-color: #BF5C37;
    font-size: 1.813rem;
    padding-top: 5.69vh;
}

.card-13 .card-front {
    background-color: #198168;
    font-size: 3.125rem;
    line-height: normal;
}

.card-13 .card-back {
    background-color: #063F32;
    font-size: 1.875rem;
    padding-top: 2.56vh;
}

.espacador {
    height: 142.45vh;
    background-color: #e4cdc7;
}

.rectangle-div {
    margin-top: -63%;
    position: absolute;
    top: 462.96vh;
    left: -30.188rem;
    box-shadow: -6px 8px 11.8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    background-color: #d9d9d9;
    width: 125rem;
    height: 51.42vh;
}

.rectangle-container {
    margin-top: -63%;
    position: absolute;
    top: 470.08vh;
    left: 2.688rem;
    font-size: 3.438rem;
    letter-spacing: 0.01em;
    display: inline-block;
    width: 75rem;
    height: 27.63vh;
    color: #006182;
}

.rectangle-branco {
    font-weight: 600;
}

.rectangle-verde {
    color: #198168;
}

.rectangle-amarelo {
    color: #f3b95a;
}